:root {
  --position: 0;
  --raduius: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
  }
}

.cssSlider {
  .slideItem {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    p {
      color: white;
    }
  }

  .row {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    .box {
      width: 150px;
      height: 150px;
      transform: translateX(var(--position));
      transition: width;
      position: relative;
      /* left: var(--positionFront); */
      border-radius: var(--raduius);
      background-color: #162dc3;
    }
  }
}
